<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add a new listing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../Public/style.css">
    <h1>Add a new listing</h1>
  </head>
  <body>
    <form class="" action="index.html" method="post">
      <div>
        <h2>About property</h2>
        <label for="property-name-input">Property name: </label><input type="text" name="name-input" value="" placeholder="House in Kent.."></input><br>
        <label for="price-input">Price per night: </label><input type="text" name="name-input" value="" placeholder="£"></input><br>
        <label for="description-input">Description: </label><textarea type="text" name="name-input" value="" rows="5" cols="60" placeholder="A beautiful house in the contryside.."></textarea><br>
      </div>
      <div>
        <h2>About user</h2>
        <label for="name-input">Name: </label><input type="text" name="name-input" value=""></input><br>
        <label for="email-input">Email: </label><input type="text" name="name-input" value="" size="30" placeholder="@yahoo.com"></input><br>
        <label for="phoneNumber-input">Phone number: </label><input type="text" name="name-input" value="" placeholder="+44"></input><br>
      </div>
      <input type="submit" name="" value="Submit" class="btn btn-primary"></input>
      </form>

  </body>
</html>
