<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../Public/style.css">
    <title></title>
  </head>
  <body>
    <div id="makersBnb">
      <div>
        <h1>Makers Bnb!</h1>
      </div>
    </div>
  <script src="../postgres-node/index.js"></script>
  <script>

    var name = <%= hello %>
    console.log(name)

    const pg = require("pg");
    const pool = new pg.Pool({
    host: "localhost",
    database: "makersBnb",
    port: "5432"});

    pool.query('SELECT * FROM listings WHERE id=1', (err, res) => {
    return res
    pool.end

    });

    console.log(name)
</script>
    </body>
</html>
