<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../Public/style.css">
  <title></title>
</head>
<body>
  <div id="makersBnb" class="container">
    <div>
      <h1>Makers Bnb!</h1>
      <h2>Listings post here...</h2>
    </div>
  </div>
  <div id="addListing" class="container">
    <form class="" action="addListing.html" method="post">
      <input type="submit" class="btn btn-primary" name="addNewListing" value="add new listing">
    </form>
  </div>
  <br>
  <br>
  <br>
  <div id="showlisting" class="container"><br>
    <div id="listing" class="container">listing</div>
    <br><div id="listing_2" class="container">Display listing</div><br>
    <p>hello I'm a div</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
  <script src="../src/bnb.js"></script>
  <
</body>
</html>
