<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/style.css"/>
  <title></title>
</head>

<body class="home">

  <br><br>

  <div id="header" class="container">
    <br><br>

    <h1>Welcome to the log in page</h1>

  <br><br>

    <form action="/login" method="post">
      <input type="text" name="email_input" value="" placeholder="Email" required></input>
      <input type="text" name="password_input" value="" placeholder="Password" required></input>
      <input type="submit" class="btn btn-primary" name="login_user" value="Submit">
    </form>

    <br>

    <form action="/" method="get">
      <input type="submit" class="btn btn-primary" name="home" value="Home">
    </form>

    <br>

    <form action="/signup" method="get">
      <input type="submit" class="btn btn-primary" name="signup" value="Sign Up">
    </form>

    <br><br>

  </div>

</body>
</html>
