<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../Public/style.css">
  <title></title>
  <style>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    body.home {
      background-image: url("green_bathroom.jpg");
    }

    body.addListing {
      background-image: url("living_room.jpg");
    }

    div[class = "container"], [id = "header"] {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
    }

    div[class = "container"], [id = "add-new-listing"] {
      background-color: #d1f5cf;
    }

    div [id="list"] {
      background-color: white;
      justify-content: center;
      text-align: left;
      display: flex;
      flex-direction: row;
    }

    #header, #add-new-listing {
      width: 60%;
      background-color: #eee;
    }

    #post {
      align-items: center;
      justify-content: center;
    }

  </style>
</head>
<body class="home">
  <div id="header" class="container">
    <h1>Makers Bnb!</h1>
    <h2>Signup to Makers Bnb here</h2>
  </div>
  <div id="signup_form" class="container">
    <form action="/signup" method="post">
      <input type="text" name="email_input" value="" placeholder="username@email.com"></input>
      <input type="text" name="password_input" value="" placeholder="password"></input>
      <input type="submit" class="btn btn-primary" name="new_user" value="Submit">
    </form>
  </div>
  <script src="../src/bnb.js"></script>
</body>
</html>
