<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/style.css"/>
  <title></title>
</head>

<body class="home">
  <div id="header" class="container">
    <h1>Please log in</h1>
  </div>
  <div id="wrong" class="container">
      <h2>Wrong. You should know this (shameful).</h2>
      <form action="/login" method="get">
        <input type="submit" class="btn btn-primary" name="back_to_login" value="Submit">
      </form>
  </div>

  <div id="login" class="container">
    <form action="/login" method="get">
      <input type="submit" class="btn btn-primary" name="signup" value="Log in">
    </form>
  </div>

</body>
</html>
