  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  body.home {
    background-image: url("green_bathroom.jpg");
  }

  body.addListing {
    background-image: url("living_room.jpg");
  }

  div[class = "container"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #efefef;
    opacity: 0.9;
    width: 60%;
  }

  div [id="list"] {
    justify-content: center;
    text-align: left;
    display: flex;
    flex-direction: row;
  }

  #post {
    align-items: center;
    justify-content: center;
  }

div [class="post"] {
    text-align: center;
}

input.btn {
  width: 20vw;
}
